* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.descript {
  visibility: hidden;
  background-color: hsla(0, 0%, 100%, 0.157);
  color: #cf112b;
  font-size: 10px;
  line-height: 1;
  position: absolute;
  padding: 5px;
  width: 60vw;
  bottom: 1px;
  text-align: justify;
}


