* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #191919;
}

.mainContainer {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #191919;
  max-width: 1920px;
  max-height: 1080px;
  .homeBtn {
    position: fixed;
    right: 20px;
    bottom: 24px;
    height: 30px;
    width: 70px;
    text-decoration: none;
    line-height: 1.5;
    text-align: center;
    font-weight: 400;
    border-radius: 5px;
    color: white;
    background: green;
    &:hover {
      transform: scale(1.05);
    }
  }
}
