* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pag-main {
	display: flex;
	justify-content: space-between;
	width: 400px;
	height: 30px;
	border: 2px solid green;
	border-radius: 3px;
	background-color: #cf112b;

}

ul {
  display: flex;
	justify-content: space-around;
	align-items: center; 
	width: 400px;
	color: white;
	font-weight: 400;
				
	li {
		display: block;
		margin: 5px;		
	}
}

a:link {
	display: block;
	text-decoration: none;
	text-align: center;
	color: white;
	font-weight: 400;
	font-family: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	&:hover {
		color: green;
		transform: scale(1.3);
	}
}










